[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "~=2.19.0"
awscli = "~=1.25.8"
sceptre-ssm-resolver = "~=1.2.2"
travis-wait-improved = "~=1.0.0"

[packages]

[requires]
python_version = "3.7"
